@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-gray-100 text-gray-900;
}

.marker-label {
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}
